/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.feeds {
	float: left;
	width: 20%;
	height: 100%;
}

.feedEntries {
	float: right;
	width: 75%;
}

.verticalBar {
	position: absolute;
	left: 20%;
	width: 1%;
	top: 50px;
	bottom: 0;
	border-right: 1px solid black;
	margin: 0% 2%;
}

.hr {
	position: relative;
	margin-left: 15em;
	margin-right: 15em;
	width:65em;
	height:1px;
}